<!-- <form id ="formNewProduct" name="formNewProduct" #newProduct ="ngForm" (ngSubmit)="updateProduct(newProduct.value)">
<label>Name:</label><input name="name" placeholder="enter name" [(ngModel)]="data.name" required>  <br> <br>
<label>Color:</label><input name="color" placeholder="enter color" [(ngModel)]="data.color" required> <br> <br>
<button type="submit">Update</button> 
</form> -->

<!-- <div class="well">

<form id ="formNewProduct" name="formNewProduct" #newProduct ="ngForm" (ngSubmit)="updateProduct(newProduct.value)">
  <label>Name:</label><input  class="form-control" name="name" placeholder="enter name" ngModel required> <br> <br>
  <label>Amount:</label><input class="form-control" name="amt" placeholder="enter amt" ngModel required> <br> <br>
  <label>Description:</label><input class="form-control" name="type" placeholder="enter type" ngModel required> <br> <br>
  <button class="btn btn-success" [disabled]="newProduct.invalid" type="submit">Update Details</button> 
</form>

</div> -->

<div class="well12">
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>Update Details</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form id="formNewProduct" name="formNewProduct" #newProduct="ngForm" (ngSubmit)="updateProduct(newProduct.value)">
                <mat-form-field class="example-full-width">
                    <mat-label>Mobile Number</mat-label>
                    <!-- (keyup1)="search(mobNo)"  -->
                    <input matInput type="number" #mobNo name="mobileno" ngModel required> <br>
                </mat-form-field>
                <mat-form-field appearance="">
                    <mat-label>Transaction type:</mat-label>
                    <mat-select name="TranType" ngModel>
                        <mat-option value="Debit">Debit(+)</mat-option>
                        <mat-option value="Credit">Credit(-)</mat-option>
                    </mat-select>
                </mat-form-field>
                <br>
                <mat-form-field class="example-full-width">
                    <mat-label>Amount</mat-label>
                    <input matInput name="amt" type="number" ngModel required>
                </mat-form-field>
                <br>
                <mat-form-field class="example-full-width">
                    <mat-label>Date</mat-label>
                    <input matInput type="date" name="date" ngModel required>
                </mat-form-field>
                <br>
                <mat-form-field class="example-full-width">
                    <mat-label>Additional Info</mat-label>
                    <input matInput name="type" ngModel> <br>
                </mat-form-field>
                <br>
                <button class="btn btn-success" [disabled]="newProduct.invalid" style="float:right;" type="submit">Submit</button>
            </form>
        </mat-card-content>

    </mat-card>
</div>