<div class="well12">

    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>Add Details</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <form id="formNewProduct" name="formNewProduct" #newProduct="ngForm" (ngSubmit)="addDetails(newProduct.value)">
                <mat-form-field class="example-full-width">
                    <mat-label>Name</mat-label>
                    <input matInput name="name" ngModel required>
                </mat-form-field>
                <br>
                <mat-form-field class="example-full-width">
                    <mat-label>Mobile No</mat-label>
                    <input matInput name="mobileno" ngModel required><br>
                </mat-form-field>
                <br>
                <mat-form-field appearance="">
                    <mat-label>Transaction type:</mat-label>
                    <mat-select name="TranType" ngModel>
                        <mat-option value="Debit">Debit(+)</mat-option>
                        <mat-option value="Credit">Credit(-)</mat-option>
                    </mat-select>
                </mat-form-field>
                <br>
                <mat-form-field class="example-full-width">
                    <mat-label>Amount</mat-label>
                    <input matInput name="amt" type="number" ngModel required>
                </mat-form-field>
                <br>
                <mat-form-field class="example-full-width">
                    <mat-label>Date</mat-label>
                    <input matInput type="date" name="date" ngModel required>
                </mat-form-field>
                <br>
                <mat-form-field class="example-full-width">
                    <mat-label>Description1</mat-label>
                    <input matInput name="type" ngModel required> <br>
                </mat-form-field>
                <br>
                <!-- <mat-form-field class="example-full-width"> -->

                <button class="btn btn-success" [disabled]="newProduct.invalid" style="float:right;" type="submit">Submit</button>
                <!-- </mat-form-field> -->

            </form>
        </mat-card-content>

    </mat-card>
</div>