<!-- <nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
        </div>
      </div>
    </nav> -->

    <nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
        <a class="navbar-brand" href="#">Expense Tracker</a>
        </div>
        <!-- <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Page 1</a></li>
        <li><a href="#">Page 2</a></li>
        </ul> -->
        <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
    </div>
    </nav>
<div class="container-fluid">    
   

    <div class="row content">
        <div class="col-md-2 pannel">
            <div class="sidenav">
                <p><a routerLink="./home">Dashboard</a></p>
                <p><a routerLink="./addMember">Add Member</a></p>
                <p><a routerLink="./product">Add Transaction</a></p>      
                </div>
        </div>
        <section class="col-md-8 text-left" style="margin-top: 54px;"> 
            <router-outlet></router-outlet>
        </section>
        <div class="col-md-2 text-left"> </div> 
    </div>
</div>

<!-- <div class="layout-container">
    <app-top-nav (sideNavToggled)="snav.toggle()"></app-top-nav>
  
    <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="toolBarHeight">
      <mat-sidenav #snav class="sidenav mat-elevation-z10">
        <app-side-nav></app-side-nav>
      </mat-sidenav>
      <mat-sidenav-content>
        <main class="main-container">
          <router-outlet></router-outlet>
        </main>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div> -->
  



