<div style="height: calc(100% - 64px);">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
            <span>Personal Expense Tracker</span>
            <span class="menu-spacer"></span>
        </mat-toolbar-row>
    </mat-toolbar>

    <mat-sidenav-container class="side-container">
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
            <mat-icon>menu</mat-icon>
          </button>
                <span>Personal Expense Tracker</span>
                <span class="menu-spacer"></span>
            </mat-toolbar-row>
        </mat-toolbar>
        <mat-sidenav #sidenav>
            <mat-nav-list>
                <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['./home']">
                    <mat-icon class="sidenav-icon">dashboard</mat-icon>Dashboard
                </a>
                <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['./addMember']">
                    <mat-icon class="sidenav-icon">account_circle</mat-icon>Add Details
                </a>
                <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['./product']">
                    <mat-icon class="sidenav-icon">playlist_add</mat-icon>Add Transaction
                </a>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content fxFlexFill class="side-container">
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>