<h4>
  Add Transaction:
</h4>
<div class="well" style="width: 50%; left:20%">
<form id ="formNewProduct" name="formNewProduct" #newProduct ="ngForm" (ngSubmit)="addProduct(newProduct.value)">
<label>Mobile No:</label>
<input  class="form-control" #mobNo name="mobileno" placeholder="mobile number" ngModel required>  <br>  
<button type="button" class="btn btn-success" (click)="search(mobNo)"> Search </button> <br> <br>
<div *ngIf="searchNameFound" class="alert alert-success">
<!-- <label><strong> {{SearchName}}</strong> </label>  -->
<label >Name:</label><input  class="form-control" value= {{SearchName}} name="name" placeholder="name" required> 
</div>

<label>Transaction type:</label>
<select class="form-control" name="TranType" ngModel>
  <option value="Debit"  >Debit (+)</option>
  <option value="Credit" >Credit (-)</option>
</select> <br> 

<label>Amount:</label><input class="form-control" name="amt" placeholder="amount" ngModel required> <br> 

<label>Date:</label><input class="form-control" type="date" name="date"  ngModel required> <br> 

<!-- <input type="text"  style="width: 300px;" [(ngModel)] ="searchTerm" />
<input type="date"  style="width: 300px;">  -->

<label>Description1:</label><input class="form-control" name="type" placeholder="description" ngModel required> <br>

<button class="btn btn-success" [disabled]="newProduct.invalid" type="submit">Add</button> 
</form>
</div>

<div class="alert alert-success" *ngIf="updatedSuccessfully">Data added successfully</div>
