<!-- <h4>
  Add Transaction:
</h4> -->
<div class="well" style="width: 50%; left:20%">
<form id ="formNewProduct" name="formNewProduct" #newProduct ="ngForm" (ngSubmit)="addProduct(newProduct.value)">
<label>Mobile No:</label>
<input  class="form-control" type="number" #mobNo name="mobileno"  (keyup1)="search(mobNo)" placeholder="mobile number" ngModel required>  <br>  
<button type="button" class="btn btn-success" (click)="search(mobNo)" style="position: relative;position: relative;top: -54px;float: right;"> Search </button> 
   
  <div *ngIf="searchNameFound else notShowBlock" class="alert alert-success">
    <!-- <label><strong> {{SearchName}}</strong> </label>  -->
      <label > <strong> {{SearchName}}</strong>  - name found !!!...</label>
      <input  style="display: none;" class="form-control" value= {{SearchName}} name="name" placeholder="name" required> 
    </div>
    <ng-template #notShowBlock>
      <div class="alert alert-danger">
        search result not found.....
      </div>
    </ng-template>

<label>Transaction type:</label>
<select class="form-control" name="TranType" ngModel>
  <option value="Debit"  >Debit (+)</option>
  <option value="Credit" >Credit (-)</option>
</select> <br> 

<label>Amount:</label><input type="number" class="form-control" name="amt" placeholder="amount" ngModel required> <br> 
<label>Date:</label><input class="form-control" type="date" name="date"  ngModel required> <br> 
<!-- <input type="text"  style="width: 300px;" [(ngModel)] ="searchTerm" />
<input type="date"  style="width: 300px;">  -->

<label>Description1:</label><input class="form-control" name="type" placeholder="description" ngModel required> <br>

<button class="btn btn-success" [disabled]="newProduct.invalid" style="float:right;" type="submit">Submit</button> 
</form>
</div>

<div class="alert alert-success" *ngIf="updatedSuccessfully">Data added successfully</div>
